body {
  background-color: #F9F7EA;
  margin: 0;
}

.root {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.5;
  margin: 0 auto;
  max-width: 640px;
  padding: 16px;
  position: relative;
}

section {
  margin-bottom: 24px;
}

h2 {
  border-bottom: 1px solid #d0d0d0;
}

h3 {
  font-size: 20px;
  margin: 0;
}

button {
  border: 2px solid #000000;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;
  padding: 6px 10px;
}

button + button {
  margin-left: 8px;
}

.topExample {
  position: relative;
  height: 192px;
}

.topExampleLayer {
  background-color: #ffffff;
  border: 4px solid #000000;
  border-radius: 4px;
  position: absolute;
  height: 48px;
  width: 128px;
  left: 64px;
  transform: rotate3d(1, -1, 1, 60deg);
}

.topExampleLayerContainer {
  position: relative;
}

.code {
  font-size: 12px;
}
