.nav {
  background-color: #effafd;
  bottom: 0;
  box-sizing: border-box;
  left: 0;
  overflow: auto;
  padding: 64px 0 32px;
  position: fixed;
  top: 0;
  width: 256px;
}

.nav h4 {
  color: #808080;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 0.6px;
  margin: 0 0 4px;
  padding-left: 32px;
  text-transform: uppercase;
}

.navList {
  margin: 0 0 24px;
  padding: 0;
}

.navList li {
  list-style: none;
}

.navList a {
  color: #191919;
  display: block;
  padding: 6px 32px;
  text-decoration: none;
}

a.navListActiveLink {
  font-weight: 600;
}

.navList a:hover {
  background-color: #c0ebf8;
}

.externalIcon {
  color: #c0c0c0;
  position: relative;
  top: 1px;
  vertical-align: top;
}

.navList a:hover .externalIcon {
  color: #191919;
}