.root {
  display: flex;
  margin: 32px 0;
}

.context {
  display: flex;
  align-items: center;
  font-size: 14px;
  justify-content: center;
  height: 96px;
  width: 192px;
}

.main {
  flex-grow: 1;
  margin-left: 64px;
}

.popper {
  background-color: #3103aa;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 24px;
  height: 64px;
  width: 64px;
}

.popper:hover {
  background-color: #3103aa;
}

.label {
  display: inline-block;
  margin-bottom: 4px;
}