.nav {
  background-color: #404040;
  bottom: 0;
  box-sizing: border-box;
  left: 0;
  padding: 32px 32px;
  position: fixed;
  top: 0;
  width: 256px;
}

.navList {
  padding: 0;
}

.navList li {
  list-style: none;
}

.navList a {
  color: #ffffff;
}
